html { 
  background: darkgray no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; 
}
body{
	font: 90% "Tahoma", sans-serif;
	margin-top:0px;
	width: 100%;
	margin-left:0px;
	margin-right:0px;
	height: 100%;
	}

#container { height: 100%; }

body > #container { 
	height: auto;
	min-height: 100%; 
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 background-color: black;
 text-align:center;
 vertical-align: center;
}

#footer #develop {
 position: relative;
 height: 1em;
 margin-top: -3em;
 background-color: black;
 text-align:center;
 vertical-align: center;
 color: darkred;
}

#content { padding-bottom: 3em; }

.jimgMenu {
	position: relative;
	/*width: 670px;*/
	width:100%;
	height: 200px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	background-color: black;
	
	/* dropping shadow */
	-moz-box-shadow: 0 120px 120px black; 
	-webkit-box-shadow: 0 120px 120px black; 
	box-shadow: 0 0 50px black; 
	/* rounded corners */
	-webkit-border-bottom-right-radius: 45px;
	-webkit-border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	border-bottom-left-radius: 45px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1340px;
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:grey none repeat scroll 0%;
	border-right: 2px solid #CC0000;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 200px;
}

.jimgMenu ul li.landscapes a {
	background: url(images/admin_images/menu/home.png) repeat scroll 0%;
}

.jimgMenu ul li.people a {
	background: url(images/admin_images/menu/customers.png) repeat scroll 0%;
}

.jimgMenu ul li.nature a {
	background: url(images/admin_images/menu/nature.jpg) repeat scroll 0%;
}
.jimgMenu ul li.abstract a {
	background: url(images/admin_images/menu/settings.png) repeat scroll 0%;
}

.jimgMenu ul li.urban a {
	background: url(images/admin_images/menu/logout.png) repeat scroll 0%;
	min-width:310px;
	
}

.after_logon_message {
	font: 150% "Tahoma", sans-serif;
	text-align: center;
	margin: 50px auto;
}

.clear {
	clear: both;
}
