* {
  border: none;
  margin:0;
}

body{ font:100% normal Arial, Helvetica, sans-serif; /*background:#161712;*/}

form,input,select,textarea{margin:0; padding:0; color:#ffffff;}

div.form_wrapper {

/*margin:0 auto;*/
margin: 0px auto 50px auto;

width:500px;

background:#222222;

position:relative;

top:20px;

border:1px solid #262626;

}

div.form_wrapper h1 { 

color:#ffffff;

font-size:18px;

text-transform:uppercase;

padding:5px 0 5px 5px;

border-bottom:1px solid #161712;

border-top:1px solid #161712; 

}

div.form_wrapper label {

width:100%;

display: block;

background:#1C1C1C;

border-top:1px solid #262626;

border-bottom:1px solid #161712;

padding:10px 0 10px 0;

}

div.form_wrapper label span {

display: block;

color:#bbbbbb;

font-size:12px;

float:left;

width:150px;

text-align:right;

padding:5px 20px 0 0;

}

div.form_wrapper input {

padding:10px 10px;

width:200px;

background:#262626;

border-bottom: 1px double #171717;

border-top: 1px double #171717;

border-left:1px double #333333;

border-right:1px double #333333;

}

#gender {

width:50px;

}

div.form_wrapper label .spec{
	display:inline-block;
	width: 40px;
	float:none;
}

div.msg  {

display: block;

color:#bbbbbb;

font-size:12px;

font-style:italic;

float:none;

width:100%;

text-align:center;

padding:5px 20px 0 0;

}

div.form_wrapper .button{

margin:0 0 25px 0;

padding:4px 7px;

background:#CC0000;

border:0px;

position: relative;

top:10px;

left:170px;

width:100px;

border-bottom: 1px double #660000;

border-top: 1px double #660000;

border-left:1px double #FF0033;

border-right:1px double #FF0033;

}

div.form_wrapper .message{

padding:7px 7px;

width:270px;

height:200px;

background:#262626;

border-bottom: 1px double #171717;

border-top: 1px double #171717;

border-left:1px double #333333;

border-right:1px double #333333;

overflow:hidden;



}

#global_err{

	text-align: center;
	color: red;
}




