html { 
    background: url(images/backgrounds/bar_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font: 90% "Tahoma", sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:50px;
    margin-left:50px;
}

/****************** contact view *********************/
#contact_view_wrapper { 
    position: relative;
    top: -400px;
    width: 800px;
    height: 400px;	
    margin: 40px auto; 
    padding: 15px; 
    background-color: rgba(255,255,255,0.5);
    /* dropping shadow */
    -moz-box-shadow: 0 0 120px black; 
    -webkit-box-shadow: 0 0 120px black; 
    box-shadow: 0 0 30px black; 
    /* rounded corners */
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#contain_wrapper { 
    position: relative; 
    text-align: center;
}

#contact_data {
    position: relative;
    text-align: left;
}

#contact_form {
    position: relative;
    text-align: center;
    left: 270px;
}

#online_form {
    text-align: left;
    position: relative;
    font:italic bold 12px/30px Georgia, serif;
    font-size: 20;
    bottom: 100px;
}

.left_form {
    position: relative;
    text-align: left;
    bottom: 100px;
}

.right_form {
    position: relative;
    text-align: left;
    bottom: 250px;
    left: 240px;
}

.submit_button {
    position: relative;
    text-align: left;
    left: 240px;
    bottom: 250px;
}

.contact_wrappers { 
    /*position: relative; 
    background: white; 
    width: 500px;
    height: 450px; */
    margin: 10px 0px 15px 0px; 
    /*padding: 20px;*/
}	

.contact_info_text{
    /*color:#00ff00;*/
    text-align: center;
}

#home_url_button_wrapper{
    text-align: right;
}

#contac_us_label {
    position: relative;
    text-align: left;
    font:italic bold 12px/30px Georgia, serif;
    font-size: 30;
}

#contact_data {
    position: relative;
    text-align: left;
    top : 50px;
    left: 30px;
    width: 200px;
}

.contact_data_address {
    position: relative;
    text-align: left;
    font:italic bold 12px/30px Georgia, serif;
    font-size: 15;
}
.contact_data_address_value {
    position: relative;
    text-align: left;
    word-wrap:break-word;
}

.contact_data_phone_number {
    font:italic bold 12px/30px Georgia, serif;
    font-size: 15;
    bottom: 100px;
}

.contact_data_phone_number_value {
    position: relative;
    text-align: left;
    word-wrap:break-word;
}

