#wrapper {
		/*border: solid red;*/
	}

#slider {

	/* You MUST specify the width and height */
	width:500px;
	height:400px;
	position:relative;	
	overflow:hidden;
	margin: 50px auto 0px auto;
	
	/* dropping shadow */
	-moz-box-shadow: 0 0 40px 15px black; 
	-webkit-box-shadow: 0 0 40px 15px black; 
	box-shadow: 0 0 40px 15px black;	
	
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
}

#mask-gallery {
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;
	
	overflow:hidden;	
}

#gallery {

	/* Clear the list style */
	list-style:none;
	margin:0;
	padding:0;
	
	z-index:0;
	
	/* width = total items multiply with #mask gallery width */
	width:1500px;
	overflow:hidden;
}

#gallery li {

		/* float left, so that the items are arrangged horizontally */
		float:left;
	}


#mask-excerpt {
	
	/* Set the position */
	position:absolute;	
	top:0;
	left:0;
	z-index:500;
	
	/* width should be lesser than #slider width */
	width:100px;
	overflow:hidden;	
	

}
	
#excerpt {
	
	filter:alpha(opacity=70);
	-moz-opacity:0.7;  
	-khtml-opacity: 0.7;
	opacity: 0.7;  
	
	/* Clear the list style */
	list-style:none;
	margin:0;
	padding:0;
	
	/* Set the position */
	z-index:10;
	position:absolute;
	top:0;
	left:0;
	
	/* Set the style */
	width:100px;
	background-color:#000;
	overflow:hidden;
	font-family:arial;
	font-size:15px;
	color:#fff;	
}

#excerpt li {

		padding:5px;
	}
	

#buttons {

	position:relative;	
	top:0;
	left:0;
	width:500px;
	margin: 0px auto 0px auto;
		
	overflow:hidden;
	background-color: rgba(255,255,255, 0.3);
	
	text-align: center;
	
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;	
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	
	/* dropping shadow */
	-moz-box-shadow: 0 0 40px 15px black; 
	-webkit-box-shadow: 0 0 40px 15px black; 
	box-shadow: 0 0 40px 15px black;
}

#buttons img{
	
	margin-top: 3px;
}

.clear {
	clear:both;	
}
