html { 
  background: url(images/backgrounds/bar_1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font: 90% "Tahoma", sans-serif;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:50px;
	margin-left:50px;
	}
	
#welcome_menu { 
	position: relative; 
	width: 500px;
	height: 450px; 
	margin: 10px auto; 
	padding: 20px; 
	background-color: rgba(255,255,255,0.5);
	/* dropping shadow */
	-moz-box-shadow: 0 0 120px black; 
	-webkit-box-shadow: 0 0 120px black; 
	box-shadow: 0 0 30px black; 
	/* rounded corners */
	-moz-border-radius: 15px;
	border-radius: 15px;
	}	

#menu_wrapper{
	background-color: green; 
	position: absolute; 
	left: 0; 
	width: 100%; 
	bottom: 0;
}
	
#welcome_menu .welcome_menu_item{
	position: relative;
	background: lightgrey;
	text-align : center;
	margin: 2px auto;
	/* opacity */
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}

/****************** login view *********************/
#login_view_wrapper { 
	position: relative;
	top: -400px;
	width: 500px;
	height: 200px;	
	margin: 130px auto; 
	padding: 15px; 
	background-color: rgba(255,255,255,0.5);
	/* dropping shadow */
	-moz-box-shadow: 0 0 120px black; 
	-webkit-box-shadow: 0 0 120px black; 
	box-shadow: 0 0 30px black; 
	/* rounded corners */
	-moz-border-radius: 15px;
	border-radius: 15px;
	}
	
#contain_wrapper { 
	position: relative; 
	text-align: center;
}	
	
.login_wrappers { 
	/*position: relative; 
	background: white; 
	width: 500px;
	height: 450px; */
	margin: 10px 0px 15px 0px; 
	/*padding: 20px;*/
	}	
	
.login_info_text{
	/*color:#00ff00;*/
	text-align: center;
}

#home_url_button_wrapper{
	text-align: right;
}

